@media only screen and (max-width: 1024px){
body.edgtf-content-is-behind-header .edgtf-content, body.error404 .edgtf-content { margin-top: -70px !important;}}

@media only screen and (min-width: 769px) and (max-width: 1024px){
h1, .edgtf-title-holder .edgtf-title-info .edgtf-page-title { font-size: 55px;line-height: 65px;}h3 { line-height: 40px;}}

@media only screen and (min-width: 681px) and (max-width: 768px){
h1, .edgtf-title-holder .edgtf-title-info .edgtf-page-title { font-size: 55px;line-height: 65px;}}

@media only screen and (max-width: 680px){
h1, .edgtf-title-holder .edgtf-title-info .edgtf-page-title { font-size: 45px;line-height: 55px;}h2 { font-size: 40px;line-height: 50px;}h3 { font-size: 25px;line-height: 30px;}.error404 .edgtf-page-not-found .edgtf-404-title { font-size: 45px;}.error404 .edgtf-page-not-found .edgtf-404-subtitle { font-size: 23px;}.error404 .edgtf-page-not-found .edgtf-404-text { font-size: 44px;}}