/* Container */
.features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards in one row */
  gap: 50px;
  padding: 24px;
  background-color: #FAFAFA;
}

/* Card */
.features {
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: 10px 0 15px #FAFAFA , -10px 0 15px #FAFAFA;
}

/* Image box */
.features-image {
  width: 95%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

/* Image hover scroll */
.features-image img {
  width: 100%;
  transform: translateY(0);
  transition: transform 6s linear;
}

.features-image:hover img {
  transform: translateY(calc(-100% + 200px));
}

/* Text */
.features-content {
  text-align: center;
}

.features-content h2 {
  font-size: 20px;
  margin: 0;
  font-family: "Helvetica Neue" ;
  font-weight: 200;
}


@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





/* ✅ Tablet */
@media (max-width: 992px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ✅ Mobile */
@media (max-width: 576px) {
  .features-container {
    grid-template-columns: 1fr;
  }
}

.features-last {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 300px; /* card width */
}

.features-image-last {
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;  /* vertical center */
  justify-content: flex-start; /* start from left */
  
}

.features-image-last img {
  /* width: auto;            maintain aspect ratio */
  height: 100%;           /* fit container height */
  object-fit: contain;    /* show whole image */
  transform: translateX(0);
  transition: transform 6s linear;
}

.features-image-last:hover img {
  transform: translateX(calc(-100% + 300px)); /* scroll horizontal */
}

.features-content-last {
  text-align: center;
}

.features-content-last h2 {
  margin: 0;
  font-size: 20px;
  font-family: "Helvetica Neue" ;
  font-weight: 200;
}





.features-heading {
  text-align: center;
  padding: 40px 20px;
}
.features-heading-content .subText {
  font-family: 'Muli' sans-serif;
  font-size: 20px;
  color: #555555;
  line-height: 1.5;
}
.features-heading-btn {
    color: #212020;
    border: none;
    padding: 20px 45px 20px 45px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
    border: 2px solid #E1C0B0;
    border-radius: 1px;
    letter-spacing: 1px;
}
.features-heading-btn:hover {
    background-color: #E1C0B0;
    color: #fff;
    border-color: hsl(20, 45%, 79%);

}
