
.footer {
    background-color:#FAFAFA;
    text-align: center;
    width: 100%;
    padding: 100px 0;
}

.footer h1 {
    margin: 0;
    font-weight: 200;
    font-size: 35px;
    color: #000000;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;

}
footer .h1,span {
    color: #141414;
    font-family:   Muli;
    font-size: 35px;
    font-weight: 800;

}

.btn {
    color: #212020;
    border: none;
    padding: 20px 45px 20px 45px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 60px;
    border: 2px solid #E1C0B0;
    border-radius: 1px;
    letter-spacing: 1px;
}
.btn:hover {
    background-color: #E1C0B0;
    color: #fff;
    border-color: #E1C0B0;

}



/* Animation for Footer images */


.footer-bottom {
    width: 100%;
      display: grid;
  grid-template-columns: auto 1fr 1fr auto; /* 4 columns */
  align-items: center;
  background-color: teal;


}
.inner {
    background-color: darkgoldenrod;
}
.side-leaf {
    height: 200px;
}

.boy {
    background-color: indigo;
}
.side {
    background-color: darkgreen;
}














.textimage {
    background-color: deeppink;
    position: relative; /* overlay ke liye zaroori */
    text-align: center;
}

/* Bird image above text */
.bird {
    height: 50px;
    position: absolute;
    top: -60px;        /* text ke upar */
    left: 40%;
    /* z-index: 1; */
}

/* Small image below or overlay */
.small {
    height: 80px;
    position: absolute;
    bottom: -20px;    
    left: 70%;
   
}

/* Main text image */
.text {
    height: 183px;
    position: relative;
    z-index: 2;       
}




